spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ssm
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update